<h2>Confirm Booking</h2>
<h3>Customer Details:</h3>

<br class="clear" />
Magically confirmed customer with ID = 1!
<br class="clear" />

<table><tr><th><h3>Total Price:</h3>

</th></tr><tr><td>
  <h4>Daily rate:</h4>

<br class="clear" />
</td></tr><tr><td>
<% @total_price = 0 %>
<% if @theatre == true %>
  <% rental_length = 7 %>
  <% rental_type = 'Theatre' %>
  <% rate = round(@price / 2) %>
<% else %>
  <% rental_length = 2 %>
  <% rental_type = 'Personal' %>
  <% rate = @price %>
<% end %>
<%=sprintf("£%2.2f", rate)%>
<br class="clear" />
</td></tr><tr><td>
<h4>Number of days for a <%=rental_type%> Rental:</h4>
</td></tr><tr><td>
<%= rental_length %>
<br class="clear" />
</td></tr><tr><td>

<h4>Total Price:</h4>
</td></tr><tr><td>

<% @total_price = rate * rental_length %>
<%=sprintf("£%2.2f", @total_price)%>
</td></tr></table>
<br class="clear" />
<br />
<form method="post" action='/crms/rentals/create_rental'>
  <input type="hidden" name="rental_date" value="<%=Date.today.strftime('%Y-%m-%d') %>" />
  <% if @theatre %>
  <input type="hidden" name="return_due_date" value="<%=(Date.today+7).strftime('%Y-%m-%d') %>" />
<% else %>
  <input type="hidden" name="return_due_date" value="<%=(Date.today+2).strftime('%Y-%m-%d') %>" />
  <% end %>
  <input type="hidden" name="customer_id" value="<%=@customer_id%>" />
  <input type="hidden" name="stock_item_id" value="<%=@stock_item_id%>" />
  <input type="hidden" name="theatre" value="<%=@theatre%>" />

 <input type = "submit" class="darkredbutton" value="Confirm"/>
</form>
