<h2>Customer Details</h2>
<% @customer=Customer.new(@my_customer) %>
<div class=formcontainer">
  <div class="floatright half">

  <form method="post" id="edit-customer-form" action="/crms/customers/update_customer" />
    <fieldset>
      <legend>Contact Details: </legend>
      <label for="name"><strong>Customer Name: <%=@customer.name%></strong></label>
      <input type="text" name="name" id="name" value="<%=@customer.name%>" placeholder="<%=@customer.name%>" />
      <table><tr><td>
      <label for="phone">Phone: </label>
      </td><td>
      <input type="text" name="phone" id="phone" maxlength="15" />
      </td></tr>
      <tr><td><label for="email">Email: </label></td>
        <td>
      <input type="email" name="email" id="email" />
      </td></tr></table>
      <label for="address">Address: </label>
      <br class="clear" />
      <textarea name="address" id="address" form="new-customer-form" rows="6" cols="50"></textarea>
    </fieldset>

    <input type="hidden" name="account_balance" value=0 />
    <input type="hidden" name="warnings" value=0 />
    <table><tr>
    <td class="left">
      <form method="post" action="/crms/customers/delete_customer" >
        <input type="hidden" value="<%=@customer%>" />
      <input type="submit" class="greybutton" value="Delete Customer" />
    </form>
    </td>
    <td class="right">
      <form method="post" action="/crms/customers/update_customer" >
        <input type="hidden" value="<%=@customer%>" />
      <input type="submit" class="greybutton" value="Update Customer" />
      </form>
    </td></tr></table>
  </div> <!-- end right half div -->
    <div class="floatleft half center">
      <img src="/photos/captain-picard.jpg" alt="Customer photo" style="width: 400px; height: 500px;" />
    </div> <!-- end left half div -->
</div> <!-- end formcontainer -->
