<h2>Complete Stock List</h2>
<% stock_items_array = StockItem.list_all_with_sizes_status_and_themes %>

<table class="data" id="all-stock" cellspacing="5" cellpadding="5">
  <tr>
    <th headers="id">Stock ID</th>
    <th headers="name">Name</th>
    <th headers="colour">Colour</th>
<!--    <th headers="size_code">Size Code</th> -->
    <th headers="sizing">Size Type</th>
    <th headers="size">Size</th>
<!--    <th headers="measurements">Measurements</th>
    <th headers="cleaning_instructions">Cleaning Instructions</th>
    -->
    <th headers="theme_type">Type</th>
    <th headers="theme">Theme</th>
<!--
    <th headers="status_code">Status Code</th>
-->
    <th headers="status">Status</th>

    <th headers="price">Price</th>
    <th headers="details_button">View/Edit/Delete</th>
    <th headers="history_button">View Rental History</th>
    <th headers="rental_button">Rent</th>

</tr>
<% stock_items_array.each do |stock_item| %>
  <tr>
    <td><%=stock_item[0]%></td> <!-- id -->
    <td><%=stock_item[1]%></td> <!-- name -->
    <td><%=stock_item[6]%></td> <!-- colour -->
<!--    <td><%stock_item[2]%></td> --><!-- size (code) -->
<td><%=stock_item[8]%></td> <!-- sizing type -->
<td><%=stock_item[9]%></td> <!-- standard size desc -->
<!--    <td><%stock_item[3]%></td> --><!-- measurements -->

<!-- <td><%stock_item[11]%></td> --><!-- theme code -->
<td><%=stock_item[12]%></td> <!-- theme type -->
<td><%=stock_item[13]%></td> <!-- theme -->
<!--    <td><%stock_item[4]%></td> --><!-- cleaning instructions -->
<!--    <td><%stock_item[5]%></td> --><!-- status (code) -->
<td><%=stock_item[10]%></td> <!-- status meaning -->
    <td><%=sprintf("£%2.2f", stock_item[7])%></td> <!-- price -->

    <td><form method="post" action="/crms/stock_items/stock_item_details">
      <input type="hidden" name="id" value ="<%=stock_item[0]%>" />
      <input type="submit" class="smallwhitebutton" value="Edit / Delete" />
    </form></td>
  <td><form method="post" action="/crms/stock_items/costume_rental_history">
    <input type="hidden" name="id" value ="<%=stock_item[0]%>" />
    <input type="submit" class="smallwhitebutton" value="View Rentals" />
</form></td>
<td><form method="post" action="/crms/stock_items/rent">
  <input type="hidden" name="id" value ="<%=stock_item[0]%>" />
  <input type="submit" class="smallwhitebutton" value="Rent" />
</form></td>
</tr>
<% end %> <!-- end each -->
</table>
